// Variables
// --------------------------


$mobile:        767px !default;

$gray:          #a1a7bc;
$purple:        #c051ff;
$blue:          #518aff;
$black:         #000000;
$white:         #ffffff;

$fontsize:      12pt;