// Variables
// --------------------------


$mobile:        767px !default;

$gray:          #a1a7bc;
$purple:        #f73d3d;
$blue:          #518aff;
$black:         #000000;
$white:         #ffffff;

$fontsize:      12pt;
$font-family: 'Ubuntu', sans-serif;
$font-family2: 'Archivo Black', sans-serif;
$font-family3: 'Caveat', cursive;
$font-family4: 'Muli', sans-serif;


